@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins&display=swap');

*{
  /* font-family: 'JetBrains Mono', monospace; */
  font-family: 'Poppins', sans-serif;
}

.home_container{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}


